#container{
    min-width:240px;
    max-width:2000px;
     width:90%;
    margin:0 auto;
    background:whitesmoke;
    
}
h2,h3,h4,h5{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic  ;
    text-decoration-line: underline;
}
header{
    background:lightslategray;
    padding:1em;
    color:blanchedalmond;
    border:solid black 0.1em;
    text-align: center;
    font-size: 40px;
}
footer{
    font-size: 20px;
    background:lightslategray;
    padding:1em;
    color:blanchedalmond;
    border:solid black 0.1em;
    text-align: center;
    font-size: 20px;
}
.set{
    
	border:solid black 0.2em;
    margin: 1em;
    background-color:darkseagreen;
    font-size: 1em;
}
#chart1{
    width:50%;
    height:auto;
    border:solid black 0.1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  } 
#bar{
    width:50%;
    height:auto;
    border:solid black 0.1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
} 
#arrivals1,#arrivals2,#arrivals3{
    width:32%;
    height:275px;
    border:solid black 0.1em;


  
    
}
